html{
    text-align: center;
    background-color: beige;
}
h1{
    font-size: 7em;
}

div{
    padding: 40px;
}

button{
    font-size: 4em;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgb(56, 53, 53);
    
}

#blue{
    background-color: #0000ffed;
    color: white;
}

#pink{
    background-color: hotpink;
    color: white;
}

#purple{
    background-color: purple;
    color: white;
}